[client]
port = 3306
default-character-set=UTF8MB4


[mysqld]
character_set_server=utf8
init_connect='SET NAMES utf8'
basedir=/usr/local/mysql
datadir=/data/db/mysql
user=mysql
socket=/data/db/mysql/mysql.sock
max_allowed_packet = 256M
#sql_mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
#严格模式

[mysqld_safe]
lower_case_table_names = 0
# 0 : 表名等区分大小写;   1 : 不区分大小写
log-error=/data/logs/mysql/mysqld_error.log
# mysql错误日记，包括启动日记
pid-file=/data/db/mysql/mysql.pid